
.row{
    display: flex;
    
}

.row_heading{
    font-size: 26px;
}

.card img{
    width: 150px;
    height: 170px;
    margin-right: 5px;
    transition: all ease-in-out 0.2s;
}

.card img:hover{
    transform: scale(1.07);
}